---
layout: default
---

<div class="post">

  <header class="post-header">
    {% if page.image %}
      <div style="display: none">
        <img src="{{ page.image }}">
      </div>
    {% endif %}
    <div class="post-category-title">
      <h1>{{ page.categories }}:</h1>
      <h1>{{ page.title }}</h1>
    </div>
    {% if page.author %}
      <div class="post-author">
        {{ page.author }}
      </div>
    {% endif %}
    <div class="post-meta">
      {{ page.date | date: "%B %-d, %Y" }}
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
